<div class="container">
    <h3 class="title">TeraTechByte</h3>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a routerLink="./right" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="./left" routerLinkActive="">Reactive</a>
                </li>
                <li class="nav-item">
                    <a routerLink="./middle" routerLinkActive="">Middle</a>
                </li>
                <li class="nav-item">
                    <a routerLink="./register" routerLinkActive="">Register</a>
                </li>
                <li class="nav-item">
                    <a routerLink="./login" routerLinkActive="">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="./signUp" routerLinkActive="">SignUp</a>
                </li>
            </ul>
          
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    
       <router-outlet >  </router-outlet>
  
     </div>
    
</div>